@font-face{
    font-family: "ZX81";
    src: url("../fonts/zx81/zx81.ttf") format("truetype");
}
@font-face{
    font-family: "Nau Sea";
    src: url("../fonts/nau_sea/NauSea.otf") format("opentype");
}
